{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/(.*)$",
		"^@/components/(.*)$",
		"^@/app/(.*)$",
		"^@/assets/(.*)$",
		"^@/constants/(.*)$",
		"^@/components/(.*)$",
		"^@/hooks/(.*)$",
		"^@/providers/(.*)$",
		"^@/shared/(.*)$",
		"^@/utils/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
