.head {
	@apply flex items-center justify-between gap-8;
}
.label,
.other {
	@apply text-lg;
}
.other {
	@apply text-red-base;
}
.label {
	@apply flex items-end gap-2 text-gray-300;

	> img {
		@apply rounded-full;
	}
}
.shirts,
.shorts {
	@apply mb-9;
}
.variations,
.options,
.selects,
.disable {
	@apply mb-8;
}
.cards,
.variants {
	@apply flex flex-wrap gap-4 mt-3;
}
.card {
	max-width: calc(100% / 8 - 14px);
}
.variant {
	max-width: calc(100% / 9 - 14.3px);
}
.more {
	@apply w-full mt-4 text-center font-bold text-red-base border border-red-base p-4;
}
.selects {
	@apply flex flex-wrap gap-x-6 gap-y-8;
}
.select {
	@apply w-full;
	max-width: calc(50% - 12px);

	&.full {
		@apply max-w-full;
	}

	> button {
		@apply px-5 gap-8;
	}
}
.options {
	@apply mb-5;
}
.option {
	@apply flex items-center justify-between gap-10 text-gray-600 py-3.5 border-b-2 border-b-gray-200;

	&:last-child:not(:first-child) {
		@apply border-b-0;
	}
}
.uploads {
	@apply flex flex-col gap-4;
}
.disable {
	@apply flex items-center justify-end gap-4 text-lg font-bold text-red-base/60;
}

@media (max-width: 1200px) {
	.card {
		max-width: calc(100% / 12 - 14.7px);
	}
	.variant {
		max-width: calc(100% / 14 - 14.9px);
	}
}

@media (max-width: 800px) {
	.disable {
		@apply absolute top-12 text-xsm;
	}
	.more {
		@apply text-xsm p-3;
	}
	.shirts,
	.variations {
		@apply mb-6;
	}
	.selects {
		@apply gap-y-5;
	}
	.label {
		@apply text-xsm;

		> img {
			@apply w-4 h-4;
		}
	}
	.option {
		@apply text-xsm;
	}
	.select {
		@apply max-w-full;

		> button {
			@apply px-4;
		}
	}
	.head {
		@apply gap-2;
	}
	.other {
		font-size: 11px;
	}
	.cards {
		@apply gap-2.5;
	}
	.card {
		max-width: calc(100% / 6 - 8.7px);
		max-height: 50px;

		> button {
			@apply w-full h-full;
		}

		img {
			@apply w-auto max-h-full;
		}
	}
	.variants {
		@apply gap-2;
	}
	.variant {
		@apply max-w-10;
		height: 50px;
	}
}
